<h4   class="text-center">Login</h4>

<form class="form mt-4" (ngSubmit)="login()"    #loginForm="ngForm">
    <div  class="form-group mb-4">
        <input
            class="form-control"    placeholder="Nome do Usuário"   name="user"
            [(ngModel)]="aUser"
            #userField="ngModel"
            required>

        <app-messages
            message=" Usuário obrigatório!"
            *ngIf="userField.invalid && userField.touched">
        </app-messages>

    </div>
    <div  class="form-group mb-4">
        <input
            type="password"       class="form-control"   placeholder="Senha"    name="password"
            [(ngModel)]="aPassword"
            #passwordField="ngModel"
            required>
        <app-messages
            message="Senha obrigatória!"
            *ngIf="passwordField.invalid && passwordField.touched">
        </app-messages>
    </div>
    <button
            type="submit"       class="btn    btn-primary   btn-block"
            [disabled]="loginForm.invalid"
    >Log in</button>
</form>
											<!--Also work with '/home/newUser' -->
<p>Não tem um Usuário ainda?<a [routerLink]="['newUser']">Clique aqui</a></p>
