<h4   class="text-center">Crie um novo Usuário</h4>

<form class="form mt-4" action="">
    <div  class="form-group mb-3">
        <input type="text"  placeholder="e-Mail"  class="form-control">
    </div>
    <div  class="form-group mb-3">
        <input type="text"  placeholder="Nome Completo"  class="form-control">
    </div>
    <div  class="form-group mb-3">
        <input type="text"  placeholder="Usuário"  class="form-control">
    </div>
    <div  class="form-group mb-3">
        <input type="password"  placeholder="Senha"  class="form-control">
    </div>
    <div>
        <button   class="btn btn-primary btn-block">Cadastro</button>
    </div>
</form>

<p>Já tem um Usuário?<a [routerLink]="['']">Acesse aqui</a></p>
